thead {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5em;
}
caption {
    caption-side: bottom;
    color: rgb(0, 0, 0);
    padding: 0.5em;
}
table, th, td {
    border: 1px solid black;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}